body {
	background-image: url("/assets/background.jpg");
	border:           0;
	margin:           0;
}

#main-container {
	width: 100%;
}

#central-container {
	background-color:   #FFFFFF;
	box-shadow:         0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-moz-box-shadow:    0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	display:            table;
	margin:             0 auto;
	min-height:         100%;
	padding-bottom:     10px;
	text-align:         center;
	width:              960px;
}

.logo-container {
	margin-bottom: 10px;
}

.banner-container {
	margin-bottom: 30px;
}

#photos-container {
	display:       inline-block;
	margin:        0 auto;
	margin-bottom: 20px;
	width:         90%;
}

#pc_row_1 {
	float: left;
}

#pc_row_2 {
	float: left;
}

#pc_row_3 {
	float: left;
}

#pc_row_4 {
	float: left;
}

#pc_row_5 {
	float: left;
}

#pc_row_6 {
	float: left;
}

#pc_row_7 {
	float: left;
}

#pc_row_8 {
	float: left;
}

#pc_row_9 {
	float: left;
}

.one_col {
	float: left;
	width: 864px;
}

.two_cols {
	float: left;
	width: 432px;
}

.three_cols {
	float: left;
	width: 288px;
}

.four_cols {
	float: left;
	width: 216px;
}

.ruler {
	background-color: #98672D;
	height:           1px;
	margin:           0 auto;
	margin-bottom:    20px;
	width:            864px;
}

.spacer {
	margin-bottom: 20px;
	width:         100%;
}

.social-network-link {
	border:        none;
	display:       inline-table;
	height:        36px;
	margin-bottom: 20px;
	margin-left:   20px;
	margin-right:  20px;
	width:         36px;
}

.social-network-link img {
	width:  36px;
	height: 36px;
}

.copyright {
	font-family: "Josefin Slab", serif;
}